table
  caption Tournament table
  tr
    th #
    th
    th Team
    th PI
    th W
    th D
    th L
    th F
    th A
    th GD
    th Pts
    th Last6

  = render partial: 'table', collection: @team_dims, as: :team_dim
