- stat = team_dim.team_facts.where(competition_id: team_dim.competition_id).first
tr
  td= stat.league_position
  td=image_tag(team_dim.logo_url)
  td= team_dim.team_name
  td= stat.played
  td= stat.win
  td= stat.draw
  td= stat.loss
  td= stat.goals_for
  td= stat.goal_diff
  td= stat.home_points
  td= stat.points
  td
