.event
  = render partial: 'event', collection: @events
.league
  p= @competition.description
  p= @competition.season_desc
  p= @competition.season_code
  = render 'league_table'
.photos
  - if @photos.present?
    - @photos.each do |photo|
      = image_tag(photo.url)
