.event
  = render partial: 'competitions/event', collection: @events
.league
  p= @home_team.team_name
  p= @away_team.team_name

  - if @home_players.present?
    h2 #{@home_team.team_name} players
    = render 'shared/players_table', players: @home_players
  - if @away_players.present?
    h2 #{@away_team.team_name} players
    = render 'shared/players_table', players: @away_players

  = @event.fixture.attributes
