<% if user_signed_in? %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  &nbsp;|&nbsp;
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
